@use "../partials/mixins" as m;
@use "../partials/variables" as v;
@use "../partials/functions" as f;

@layer components {
	.container {
		padding: 0 2rem;
		@each $name, $value in v.$breakpoints {
			@media (width > $value) {
				@if ($name == "sm") {
					margin: auto;
				}
				max-width: calc($value - 4rem);
			}
		}
	}
}
