@use "../partials/mixins" as m;
@use "../partials/variables" as v;
@use "../partials/functions" as f;

.note {
    width: f.rem(350);
  
    &__form {
        @include m.flexbox($direction:column, $gap: f.rem(12));
    }
  
    &__input,
    &__textarea {
        border-radius: f.rem(6);
        border: 1px solid var(--grey-light);
        background-color: var(--bg-light);
        color: var(--text-dark);
        outline: none;    
    }
}