@use "fonts";
@use "variables" as v;
@use "functions" as f;
@use "sass:color";

@layer base {

	// Définition des variables CSS globales dans :root
	:root {
		// Génère dynamiquement les variables CSS depuis la var $colors
		@each $name, $value in v.$colors {
			--#{$name}: #{$value};
			--#{$name}-hover: #{color.scale($value, $lightness: 15%)};
		}

		// Variables supplémentaires globales
		--bg-light: var(--white);
		--bg-dark: var(--black);
		--text-light: var(--white);
		--text-dark: var(--black);
		--main-radius: f.rem(6);
		--primary:var(--crunchy-orange);
		--primary-hover:var(--crunchy-orange-hover);
		--bg-header:var(--noir-header);	
		--grey-light: var(--grey-medium);	
	}

	// Style global du body
	body {
		font-family: fonts.$font1;
		color: var(--text-light);
		background-color: var(--bg-dark);
		transition: background-color 0.3s ease, color 0.3s ease;
		
		// Pleine hauteur uniquement à partir du desktop
		@media screen and (min-width: f.screen("desktop-up")) {
			height: 100vh;
		}

		// Thème clair (si html a la classe "light")
		html.light & {
			background-color: var(--bg-light);
			color: var(--text-dark);
		 }

		::selection {
			background-color: var(--grey);
			color: var(--primary);
		}  
	}

	a {
		text-decoration: none;
		transition: color 0.3s ease;
		color: var(--text-light);
	  }

	p {
		font-size: 1rem;
		line-height: 1.5;
	  }

	h1 {
		line-height: 1.2;
		font-size: f.rem(56);
	   }
	  
	h2 {
		line-height: 1.2;
		font-size: f.rem(48);
	   }
	  
	h3 {
		line-height: 1.2;
		font-size: f.rem(40);
	   }
		
	ul,
	ol {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	select {
		background-color: var(--bg-dark);
		border: 1px solid var(--grey-light);
		border-radius: f.rem(4);
		color: var(--grey-light);
    	appearance: none;
		transition: border-color 0.2s;

		&:focus {
			outline: none;
    		border-color: var(--primary); 
		}

		html.light & {
			border: 1px solid var(--grey);
			background-color: transparent;
		} 
	}
	  
	label {
		color: var(--grey-light)
	}
	
	input {
		padding: f.rem(10);
		border: 1px solid var(--grey-light);
		border-radius: f.rem(4);
		background-color: var(--bg-dark);
		color: var(--text-light);

		&:focus {
			outline: none;
    		border-color: var(--primary); 
		}

		html.light & {
			border: 1px solid var(--grey);
			background-color: transparent;
			  } 
	}

	// Checkbox stylisée
	input[type="checkbox"] {
        appearance: none;
        width: f.rem(10);
        height: f.rem(10);
        border: f.rem(2) solid var(--grey-light);
        border-radius: f.rem(4);
        background-color: var(--bg-dark);
        cursor: pointer;
        transition: all 0.2s ease;
    
        &:checked {
          background-color: var(--primary);
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: f.rem(16);
        }
    }

	small {
		color: var(--text-light);
		html.light & {
			color: var(--text-dark);
		  } 
	}
	
	// Animation d’apparition (fade-in)
	@keyframes fadeIn {
	  from {
	  opacity: 0;
	  transform: translateY(f.rem(10));
	  }
	  to {
	  opacity: 1;
	  transform: translateY(0);
	  }
	}
}