// Couleurs utilisée dans le projet
$colors: (
  "black": #000,
  "dark-grey": #1a1a1a,
  "white": #fff,
  "off-white": azure,
  "crunchy-orange": #f47521,
  "crunchy-orange-hover": #d85c10,
  "grey-light": #ccc,
  "grey-medium": #aaa,
  "darkGrey": #333333,
  "grey": #6c757d,
  "red": #dc3545,
  "blue": #0d6efd,	
  "noir-header":#08090B,
    
);

// Points de rupture (breakpoints) pour le responsive design
$breakpoints: (
  "phone-down": 500px,
  "tablet-up": 768px,
  "tablet-down": 900px,
  "desktop-up": 1024px,
  "desktop-down": 1280px,
  "widescreen-up": 1440px
);

$colorModifiers: (
	"primary": "crunchy-orange",
	"secondary": "blue",
	"danger": "red",
);

// Valeur de base pour le spacing (utilisée dans les marges, paddings, etc.)
$spacing: 0.25rem;

